.top{
background-color: #443266;
padding:5%;
}

.left{
background-color: #C3C3E5;
float:left;
padding:5%;

}

.middle{
background-color: #8C489F;
padding:5%;
width: 24% !important;
}
.right{
background-color: #C3C3E5;
float: right;
padding:5%;
}
.bottom{
background-color: #443266;
padding:5%;
}
.rel {
    overflow: scroll;
    position: relative;
    width: 22%;
    height: 200px;
    border: 3px solid rgb(17, 0, 22);
    border-style: outset;
  } 
.pic{
    width: 70%;
    height: 70%;
    border:10px solid #443266;
    border-style: inset;
    border-radius: 20%;
}
.sec{
    color: #443266;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 20px;
    font-size: 20px;
  }